openapi: 3.0.0
info:
  title: Kalshi API.
  description: |-
    This documentation describes Kalshi's rest API for market makers

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->
  version: 1.0.0
servers:
- url: https://trading-api.kalshi.com/v1
paths:
  /active_markets:
    get:
      tags:
      - market
      summary: GetActiveMarkets
      description: |-
        End-point for getting highly active markets on the exchange.
        Currently, gets 3 kinds of activity: Markets opening within the time window provided, markets closing within the time
        window provided, and markets that have had large price movements or large volumes within the time window provided.
      operationId: GetActiveMarkets
      parameters:
      - name: limit
        in: query
        description: "The maximum number of markets returned, this is capped at 20"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
        x-go-name: Limit
      - name: min_date
        in: query
        description: The lower bound on the date searched through when looking for
          activity
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
        x-go-name: MinDate
      - name: max_date
        in: query
        description: The upper bound on the date searched through when looking for
          activity
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
        x-go-name: MaxDate
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActiveMarketsResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /cached/markets:
    get:
      tags:
      - market
      summary: GetMarketsCached
      description: End-point for listing / discovering markets on Kalshi with data
        that is cached and so slightly lagged.
      operationId: GetMarketsCached
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketsResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /cached/markets/{market_id}:
    get:
      tags:
      - market
      summary: GetMarketCached
      description: |-
        End-point for getting data about a specific market with data that is cached and so slightly lagged.

        The value for the market_id path parameter should match the id value of the target market.
      operationId: GetMarketCached
      parameters:
      - name: market_id
        in: path
        description: Should be filled with the id of the target market
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid4
        x-go-name: MarketId
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /cached/markets/{market_id}/candlestick:
    get:
      tags:
      - market
      summary: GetCandlestickMarketHistoryCached
      description: |-
        End-point for getting open, high, low, close (OHLC) and other data for candlestick plots. See the response body
        for full information on what is returned. Data is cached and so is slightly lagged.
      operationId: GetCandlestickMarketHistoryCached
      parameters:
      - name: market_id
        in: path
        description: Should be filled with the id of the target market
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid4
        x-go-name: MarketId
      - name: last_seen_ts
        in: query
        description: "If provided, restricts history to trades starting from lastSeenTs"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
        x-go-name: LastSeenTs
      - name: num_buckets
        in: query
        description: |-
          If provided, this field represents the number of buckets used to divide the market
          history data. Please provide an integer between 1 and 7,200 (inclusive).
          Defaults to 1,400. We aggregate data in the buckets.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: uint32
        x-go-name: NumBuckets
      responses:
        "200":
          description: GetCandlestickMarketHistoryResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCandlestickMarketHistoryResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /cached/markets/{market_id}/order_book:
    get:
      tags:
      - market
      summary: GetMarketOrderBookCached
      description: |-
        End-point for getting the orderbook for a market with data that is cached and so slightly lagged.

        The value for the market_id path parameter should match the id value of the target market.
      operationId: GetMarketOrderBookCached
      parameters:
      - name: market_id
        in: path
        description: Should be filled with the id of the target market
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid4
        x-go-name: MarketId
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketOrderBookResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /cached/markets/{market_id}/stats_history:
    get:
      tags:
      - market
      summary: GetMarketHistoryCached
      description: |-
        End-point for getting the statistics history for a market with data that is cached and so slightly lagged.

        The value for the market_id path parameter should match the id value of the target market.
        The last_seen_ts parameter is optional, and will restrict statistics to those after provided timestamp.
        The last_seen_ts is inclusive, which means a market history point at last_seen_ts will be returned
      operationId: GetMarketHistoryCached
      parameters:
      - name: market_id
        in: path
        description: Should be filled with the id of the target market
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid4
        x-go-name: MarketId
      - name: last_seen_ts
        in: query
        description: "If provided, restricts history to trades starting from lastSeenTs"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
        x-go-name: LastSeenTs
      - name: num_buckets
        in: query
        description: |-
          If provided, this field represents the number of buckets used to group the market price
          history data. Please provide an integer between 1 and 7,200 (inclusive). The higher this value, the
          more points will be returned from this endpoint. Note that the number of points returned may not be equal
          to the number of buckets because some buckets may not contain any points. Defaults to 1,400. We pick
          one representative point from each bucket (namely the last point in the bucket)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: uint32
        x-go-name: NumBuckets
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketHistoryResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /cached/markets_by_ticker/{ticker_name}:
    get:
      tags:
      - market
      summary: GetMarketByTickerCached
      description: |-
        End-point for getting data about a specific market with data that is cached and so slightly lagged.

        The value for the ticker_name path parameter should match the ticker_name value of the target market.
      operationId: GetMarketByTickerCached
      parameters:
      - name: ticker_name
        in: path
        description: Should be filled with the ticker name of the target market
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-go-name: TickerName
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /cached/series:
    get:
      summary: GetSeriesListCached
      description: End-point for getting data about all series. Endpoint is cached
        so it is slightly lagged.
      operationId: GetSeriesListCached
      responses:
        "200":
          description: GetSeriesListResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSeriesListResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /events/:
    get:
      summary: GetEventsCached
      description: End-point for getting data about all events with data that is cached
        and so slightly lagged.
      operationId: GetEventsCached
      responses:
        "200":
          description: GetEventsResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /events/{ticker}:
    get:
      tags:
      - events
      summary: GetEventByTickerCached
      description: End-point for getting data about an event by its ticker with data
        that is cached and so slightly lagged.
      operationId: GetEventByTickerCached
      parameters:
      - name: ticker
        in: path
        description: Should be the ticker of the event
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-go-name: Ticker
      responses:
        "200":
          description: GetEventByTickerResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventByTickerResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /exchange/status:
    get:
      tags:
      - exchange
      description: End-point for getting the exchange status
      operationId: GetExchangeStatus
      responses:
        "200":
          description: ""
          headers:
            exchange_active:
              style: simple
              explode: false
              schema:
                type: boolean
            immediate_funding_active:
              style: simple
              explode: false
              schema:
                type: boolean
            trading_active:
              style: simple
              explode: false
              schema:
                type: boolean
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "503":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
      security:
      - cookie: []
  /log_in:
    post:
      tags:
      - auth
      summary: Login
      description: End-point to start a rest session with Kalshi.
      operationId: Login
      requestBody:
        description: Login input data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        "200":
          description: ""
          headers:
            Set-Cookie:
              description: Access token is set on a cookie named 'sessions' as well
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "503":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /log_out:
    post:
      tags:
      - auth
      summary: Logout
      description: End-point to terminates your session with Kalshi.
      operationId: Logout
      responses:
        "204":
          description: No fields are returned on the response.
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "503":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
      security:
      - cookie: []
  /markets:
    get:
      tags:
      - market
      summary: GetMarkets
      description: End-point for listing / discovering markets on Kalshi.
      operationId: GetMarkets
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketsResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /markets/{market_id}:
    get:
      tags:
      - market
      summary: GetMarket
      description: |-
        End-point for getting data about a specific market.

        The value for the market_id path parameter should match the id value of the target market.
      operationId: GetMarket
      parameters:
      - name: market_id
        in: path
        description: Should be filled with the id of the target market
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid4
        x-go-name: MarketId
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /markets/{market_id}/candlestick:
    get:
      tags:
      - market
      summary: GetCandlestickMarketHistory
      description: |-
        End-point for getting open, high, low, close (OHLC) and other data for candlestick plots. See the response body
        for full information on what is returned.
      operationId: GetCandlestickMarketHistory
      parameters:
      - name: market_id
        in: path
        description: Should be filled with the id of the target market
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid4
        x-go-name: MarketId
      - name: last_seen_ts
        in: query
        description: "If provided, restricts history to trades starting from lastSeenTs"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
        x-go-name: LastSeenTs
      - name: num_buckets
        in: query
        description: |-
          If provided, this field represents the number of buckets used to divide the market
          history data. Please provide an integer between 1 and 7,200 (inclusive).
          Defaults to 1,400. We aggregate data in the buckets.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: uint32
        x-go-name: NumBuckets
      responses:
        "200":
          description: GetCandlestickMarketHistoryResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCandlestickMarketHistoryResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /markets/{market_id}/order_book:
    get:
      tags:
      - market
      summary: GetMarketOrderBook
      description: |-
        End-point for getting the orderbook for a market.

        The value for the market_id path parameter should match the id value of the target market.
      operationId: GetMarketOrderBook
      parameters:
      - name: market_id
        in: path
        description: Should be filled with the id of the target market
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid4
        x-go-name: MarketId
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketOrderBookResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /markets/{market_id}/stats_history:
    get:
      tags:
      - market
      summary: GetMarketHistory
      description: |-
        End-point for getting the statistics history for a market.

        The value for the market_id path parameter should match the id value of the target market.
        The last_seen_ts parameter is optional, and will restrict statistics to those after provided timestamp.
        The last_seen_ts is inclusive, which means a market history point at last_seen_ts will be returned
      operationId: GetMarketHistory
      parameters:
      - name: market_id
        in: path
        description: Should be filled with the id of the target market
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid4
        x-go-name: MarketId
      - name: last_seen_ts
        in: query
        description: "If provided, restricts history to trades starting from lastSeenTs"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
        x-go-name: LastSeenTs
      - name: num_buckets
        in: query
        description: |-
          If provided, this field represents the number of buckets used to group the market price
          history data. Please provide an integer between 1 and 7,200 (inclusive). The higher this value, the
          more points will be returned from this endpoint. Note that the number of points returned may not be equal
          to the number of buckets because some buckets may not contain any points. Defaults to 1,400. We pick
          one representative point from each bucket (namely the last point in the bucket)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: uint32
        x-go-name: NumBuckets
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketHistoryResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /markets_by_ticker/{ticker_name}:
    get:
      tags:
      - market
      summary: GetMarketByTicker
      description: |-
        End-point for getting data about a specific market based on its ticker.

        The value for the ticker_name path parameter should match the ticker_name value of the target market.
      operationId: GetMarketByTicker
      parameters:
      - name: ticker_name
        in: path
        description: Should be filled with the ticker name of the target market
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-go-name: TickerName
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetMarketResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /passwords/reset:
    post:
      tags:
      - auth
      summary: ResetPassword
      description: |-
        End-point to request a password reset email link.

        To be used in case you forget your password.
      operationId: ResetPassword
      requestBody:
        description: Reset password input data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        "202":
          description: No fields are returned on the response.
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "503":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /passwords/reset/{code}/confirm:
    put:
      tags:
      - auth
      summary: ResetPasswordConfirm
      description: |-
        End-point to finish the password reset flow.

        The code param on the path should be filled with the verification code sent by email.
      operationId: ResetPasswordConfirm
      parameters:
      - name: code
        in: path
        description: Should be filled with the verification code received on the sign-up
          email.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-go-name: Code
      requestBody:
        description: Data required to finish a password reset.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPasswordResetRequest'
      responses:
        "204":
          description: No fields are returned on the response.
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "503":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /ranged_markets/{ranged_market_id}:
    get:
      tags:
      - ranged_market
      summary: GetRangedMarket
      description: End-point for getting data about a ranged market
      operationId: GetRangedMarket
      parameters:
      - name: ranged_market_id
        in: path
        description: Should be filled in with a ranged market id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid4
        x-go-name: RangedMarketId
      responses:
        "200":
          description: GetRangedMarketResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRangedMarketResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /ranged_markets_by_ticker/{ticker}:
    get:
      tags:
      - ranged_markets
      summary: GetRangedMarketByTicker
      description: End-point for getting data about a ranged market by its ticker
      operationId: GetRangedMarketByTicker
      parameters:
      - name: ticker
        in: path
        description: Should be the ticker of the ranged market
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-go-name: Ticker
      responses:
        "200":
          description: GetRangedMarketByTickerResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRangedMarketByTickerResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /series/:
    get:
      summary: GetSeriesList
      description: End-point for getting data about all series
      operationId: GetSeriesList
      responses:
        "200":
          description: GetSeriesListResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSeriesListResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /series/{series_ticker}:
    get:
      tags:
      - series
      summary: GetSeriesByTicker
      description: End-point for getting data about an event by its ticker
      operationId: GetSeriesByTicker
      parameters:
      - name: series_ticker
        in: path
        description: Should be the ticker of the series
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-go-name: Ticker
      responses:
        "200":
          description: GetSeriesByTickerResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSeriesByTickerResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "404":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /trades:
    get:
      summary: GetTrades
      description: End-point for getting all trades for all markets.
      operationId: GetTrades
      parameters:
      - name: trades_date
        in: query
        description: "Restricts the response to trades during a certain day (give\
          \ trades_date in ET with format: YYYY-MM-DD). Dates returned will be UTC"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-go-name: TradesDate
      - name: page_size
        in: query
        description: Parameter to specify the number of results per page
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
        x-go-name: PageSize
      - name: page_number
        in: query
        description: Parameter to specify which page of the results should be retrieved
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
        x-go-name: PageNumber
      - name: market_id
        in: query
        description: Parameter to specify a specific marketId to get trades from
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-go-name: MarketId
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradesGetResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "401":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "403":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /users:
    delete:
      tags:
      - user
      summary: UserDeactivate
      description: End-point for deactivating an user. A call to this end-point deactivates
        the current user and ends the current session.
      operationId: UserDeactivate
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
        "400":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
        "500":
          description: JSONError is a generic structure for API error responses.
          headers:
            code:
              style: simple
              explode: false
              schema:
                type: string
            details:
              style: simple
              explode: false
              schema:
                type: string
            message:
              style: simple
              explode: false
              schema:
                type: string
            service:
              style: simple
              explode: false
              schema:
                type: string
  /users/{user_id}:
    get:
      tags:
      - user
      summary: UserGetProfile
[...]
